@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to jokes site.</h1>
    <p>Here you can create jokes and share them with others people.</a>.</p>
</div>
